# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode
.idea

/vendor/*
go.mod
go.sum

*.log
default.etcd/*
test/operate_simple_docker
default*
tools/etcdctl/default.etcd/*

etcdstore
/pkg/proto/*
/build/go_build_minik8s_test_create_pod


cmd/kube-proxy